In [1]:
import pandas as pd
import lxml
table = pd.read_html('https://mizykk.tistory.com/39', header=0, encoding='utf-8')
table

[    과일  색상     가격
 0   사과  빨강  1500원
 1   사과  초록  1000원
 2  바나나  노랑  3000원
 3  바나나  초록  2000원,
      국가   도시     언어
 0    한국   서울    한국어
 1    미국   뉴욕     영어
 2  이탈리아  피렌체  이탈리아어
 3   프랑스   파리     불어,
   한국어        영어
 0  1월   January
 1  2월  Feburary
 2  3월     March,
               [Python] 리스트 정렬하기 :: sort / sorted (0)  2021.02.10
 0    [Python] 영문 > 한글 키보드 입력 변환하기 :: 자모결합 / 자소결합 (0)  2021.01.29
 1  [Python] for문(반복문) 진행상황 표시 :: tqdm / tqdm_note...  2021.01.28
 2  [Python] has no attribute 'compat' (most likel...  2020.10.05
 3               [Python] 위경도 거리 구하기 :: haversine (1)  2020.01.28]

In [2]:
table[0]

    과일  색상     가격
0   사과  빨강  1500원
1   사과  초록  1000원
2  바나나  노랑  3000원
3  바나나  초록  2000원